*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #f5dab0;
    --second-bg-color: #a77fb5;
    --third-bg-color: #ebb875;
    --text-color: black;
    --main-color: #5d15c3;
    --accent-color: #fec768;
}
@font-face{
	font-family: "Chakra Petch Medium";
	src: url(chakra-petch/ChakraPetch-Medium.ttf);
}
html{
    font-size: 65%;
    overflow-x: hidden;
}
body{
    background-color: var(--second-bg-color);
    color: var(--text-color);
    font-family: "Chakra Petch Medium";
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--bg-color);
    border-bottom: 1px solid var(--accent-color);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: black;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 510;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover, 
.navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid transparent;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;  
    background-image: url(GIFs/bg.gif);
    background-size: 100vw;
    background-repeat: no-repeat;
}
.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    background-color: rgba(235, 173, 106, 0.856);
    backdrop-filter: blur(10px);
    border-radius: 40px;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
}
.home-content p{
    font-size: 3rem;
    font-weight: 500;
    width: 1000px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
    color: black;
}
.about img{
    border-radius: 50%;
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    text-align: center;
    line-height: 1.5;
    text-decoration: underline rgb(61, 18, 18);
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 2rem;
    margin: 2rem 0rem;
}
.howto{
   background-color: var(--second-bg-color);
   color:black;
}
.howto h2{
    margin-bottom: 5rem;
    color: black;
    text-decoration: underline rgb(61, 18, 18);
}
.howto-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}
.howto-box1{
    background-color: var(--third-bg-color);
    border: 3px solid rgb(107, 63, 0);
    height: 640px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}
.howto-box2{
    background-color: var(--third-bg-color);
    border: 3px solid rgb(107, 63, 0);
    height: 1000px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}
.howto-box3{
    background-color: var(--third-bg-color);
    border: 3px solid rgb(107, 63, 0);
    height: 580px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
}
.howto-box4{
    background-color: var(--third-bg-color);
    border: 3px solid rgb(107, 63, 0);
    height: 1020px;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s ease;
    justify-content: center;
    padding: 3rem;
}

.howto-box1:hover, .howto-box2:hover, .howto-box3:hover, .howto-box4:hover{
    background: var(--main-color);
    color: white;
    transform: scale(1.03);
}
.howto-info kbd{
    background-color: rgb(171, 171, 171);
    border: 2px solid black;
    border-radius: 13%;
    padding: .43rem;
}
.howto-box1 .howto-box2 .howto-box3 .howto-box4 .howto-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content:center;
    align-items: center;
    padding: 6rem;
}
.howto-info img{
    width: 24vw;
}
.movement{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    gap: 10rem;
    margin-top: 4rem;
}
.offense{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
}
.defense{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    gap: 20px;
}
.info_img{
    align-content: center;
}
.howto-info h5{
    font-size: xx-large;
    font-weight: 600;
}
.howto-info h4{
    margin-top: 2rem;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.howto-info p{
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 4rem;
    font-weight: 400;
    margin-left: 3rem;
    margin-right: 3rem;
}
.howto-info ul{
    margin-left: 4rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.2;
}
.howto-info li{
    margin-bottom: 1rem;
}
.meet{
    background-color: var(--second-bg-color);
    color: black;
}
.meet h2{
    margin-bottom:5rem;
    text-decoration: underline rgb(61, 18, 18);
}
.meet-conctainer{
    display:grid;
    align-items: center;
    gap: 2rem;
}
.meet-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 3px solid rgb(107, 63, 0);
    height: 700px;
    border-radius: 1em;
    padding-left: 3rem;
    background-color: var(--third-bg-color);
}
.meet-info h4{
    font-size: 36px;
    font-weight: 500;
    margin-top: 3rem;
}
.meet-info img{
    position: relative;
    top: 2rem;
    bottom: 2rem;
    width: 16vw; 
    border: 2px solid rgb(107, 63, 0);
    border-radius: 10%;
}
.meet-info h3{
    padding: 4rem 270px;
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}
.meet-info ul{
    justify-content: center;
    padding: 5rem, 0;
    margin-left: 8rem;
    font-size: 20px;
}
.meet-info li{
    line-height: 2.3;
}
.meet-info p{
    justify-content: center;
    text-align: left;
    margin-top: 1rem;
    margin-left: 6rem;
    margin-bottom: 2rem;
    font-size: 15px;
}
.meet-info a{
    color: white;
}
.meet-info a:hover{
    color: var(--main-color);
}
.btn{
    display: inline-block;
    margin-left: 23rem;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: white;
    border-radius: 4rem;
    font-size: 2rem;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background-color: var(--bg-color);
}
.footer .copyright{
    text-align: center;
    font-size: 16px;
    color: black;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .howto-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0.5;
    }
    .home p{
        width: 700px;
    }
    .home img{
        width: 32vw;
    }
}

@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        pad: 10rem 3% 2rem;
    }
    footer{
        padding: 2rem 3%;
    }
}

@media (max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: none;   
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: black;
    }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home p{
        width: 500px;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 30vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about img{
        width: 64vw;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .howto h2{
        margin-bottom: 3rem;
    }
    .howto-container{
        grid-template-columns: repeat(1,1fr);
    }
}